.archive {
    //background-color: rgba(52, 81, 94, 0.5);
   width: 100%;
   height: 100%;
  
    &__sidebar {
        float:right;
        text-align: center !important; 
        width:200px;
    }
    &__sidebar ul {
        list-style-type: none;
    }
}
.calendar_wrap {
   display: inline-block;
}