.archive {
  width: 100%;
  height: 100%;
}

.archive__sidebar {
  float: right;
  text-align: center !important;
  width: 200px;
}

.archive__sidebar ul {
  list-style-type: none;
}

.calendar_wrap {
  display: inline-block;
}
/*# sourceMappingURL=archive.css.map */