.custom-post {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.custom-post img {
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

.custom-post__all {
  height: 50%;
  margin: 30px;
  background-color: white;
}

.custom-post-single {
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.custom-post-single img {
  width: 900px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

.custom-post-single__single {
  height: 50%;
  width: 100% !important;
  margin: 30px;
  background-color: white;
}
/*# sourceMappingURL=custom-post.css.map */