.custom-post  {
    margin: 0 auto;
    width:500px;
    height: 100%;
    display:flex;
    flex-direction: row;

    img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 50px;
    }
    &__all {
        height: 50%;
        margin:30px;
        background-color:  white;
        
    }

}

.custom-post-single {
    margin: 0 auto;
    width:900px;
    height: 100%;
    display:flex;
    flex-direction: row;

    img {
    width: 900px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 50px;
    }
&__single {
    height: 50%;
    width:100% !important;
    margin:30px;
    background-color:  white;
}  
}