html , body {
    width:100%;
    height:100%;
    
}
.wrapper {
    width:100%;
    display: flex;
}
.post {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    &__h1 {
        text-align: center;
    }

    &__opis{
        width: 700px;
        height: 100%;
        position: relative;
        
    }
    &__opis a {
        color:black;
    }
    &__opis  a:hover {
        text-decoration:none;
        color:black;
    }
    &__ramka {
        border:2px solid;
    }
}
.no-margin {
    margin: 0px;
}
.fullimg {
background-image: url("landscape.jpg");
height:100px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 
