html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post {
  display: inline-block;
  overflow: hidden;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post__h1 {
  text-align: center;
}

.post__opis {
  width: 700px;
  height: 100%;
  position: relative;
}

.post__opis a {
  color: black;
}

.post__opis a:hover {
  text-decoration: none;
  color: black;
}

.post__ramka {
  border: 2px solid;
}

.no-margin {
  margin: 0px;
}

.fullimg {
  background-image: url("landscape.jpg");
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=post.css.map */