/*
Theme Name: Jestrobione
Theme URI: http://wordpress.org/themes/jestrobione
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: jestrobione

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*COMPONES*/
@import 'stylesheet/componets/post.css';
@import 'stylesheet/componets/archive.css';

@import 'stylesheet/componets/all.css';
@import 'stylesheet/componets/content-archive.css';
@import 'stylesheet/componets/custom-post.css';


*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    
}



.navigation   {
    background-color:rgb(243, 242, 243);
    list-style:none;
    display:flex;
    align-items: center;
    padding:0px 20px;
    margin:0;
}

#menu-item-12 {
    padding: 0.5%;
} 
#menu-item-12 a{
    font-size: 27px;
    transition: ease 0.8s;
    padding: 2%;
} 
#menu-item-12 a:hover{
    color: rgb(144,238,144);
    text-decoration:none; 
} 
#menu-item-13 {
    padding: 0.5%;
} 
#menu-item-13 a:hover{
    color: rgb(144,238,144);
    transition: ease 0.8s;
    text-decoration:none; 
}
#menu-item-14 {
    padding: 0.5%;
}  
#menu-item-14 a:hover{
    color: rgb(144,238,144);
    transition: ease 0.8s;
    text-decoration:none; 
} 

/* BOOOTSTRAP*/
